body {
  height: 100%;
  margin: 0;
  background-color: rgb(179, 179, 179);
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin Sketch', cursive;
 }
 
 /*containers*/

 .container {
  width:65%;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(179, 179, 179);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.intro-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .reset-container {
  width: 45%;
  display: flex;
  justify-content: center;
 }

/*images*/

.eightball {
  width: 50%;

} 

/* other sections*/

.intro {
  padding: 22px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
 }

 #question {
  width: 87%;
  height: 25px;
  padding: 6px;
  border-radius: 4px;
  border: none;
  font-family: 'Cabin Sketch', cursive;
 }
 #buttonholder {
  width: 45%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
 }
 
 #answer {
  width: 45%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  border-radius: 25px;
  margin: 40px 0px;
  padding: 20px;
 }
 

/*buttons*/

 #resetbutton {
  width: 50%;
  padding: 6px 17px;
  font-family: 'Cabin Sketch', cursive;
 }
 #fortunebutton {
  padding: 0px 12px;
  font-family: 'Cabin Sketch', cursive;
 }

/* hide and show the answer and the reset button*/

 .hide {
  display: none;
}  
.show{
  display: inline;
}